@font-face {
  font-family: "Rubik";
  src: url("../../../node_modules/@yaki_ui/yaki_ui_web_components/fonts/Rubik-VariableFont_wght.ttf")
    format("truetype");
}

@font-face {
  font-family: "SF-compact-Rounded";
  src: url("../../../node_modules/@yaki_ui/yaki_ui_web_components/fonts/SF-Compact-Rounded-Regular.ttf")
    format("truetype");
}

$font-sf-compact: "SF-compact-Rounded", sans-serif;
$font-rubik: "Rubik", sans-serif;

$color-font-main-text: #0f1013;
$color-font-sub-text: #7d818c;

* {
  margin: 0;
  padding: 0;
}

#app {
  height: 100svh;
}

.text_default__title_header {
  font-family: $font-sf-compact;
  font-size: 2.5rem;
  font-weight: 700;
  color: $color-font-main-text;
  line-height: 40px;
  letter-spacing: -2px;
}

.text_default__Team_description {
  font-family: $font-rubik;
  color: $color-font-sub-text;
  font-size: 15px;
  font-style: normal;
  font-weight: 300;
  line-height: 150%;
}

.text_default__Team_name {
  font-family: $font-rubik;
  color: $color-font-sub-text;
  font-size: 16px;
  font-style: normal;
  font-weight: 450;
  line-height: 100%;
}
