* {
  margin: 0;
  padding: 0;
}

body {
  @import url("https://fonts.googleapis.com/css2?family=Inter:wght@300&display=swap");
  font-family: "Inter", sans-serif;

  font-size: 16px;
}

#app {
  display: flex;
  flex-direction: column;
  height: 100svh;
}

// GENERAL SHARED STYLES ----------------------------------------------------------------------------------------

.sub-text {
  font-size: 15px;
  font-weight: 900;
  color: $font-color-sub-text;
}

.input-general {
  font-size: $font-size-input-login;
  border-radius: $modal-border-radius;
  border: 1px solid #ccc;

  font-weight: 300;

  &::placeholder {
    font-size: $font-size-input-login-placeholder;
  }

  &:focus {
    outline: 1px solid rgb(142, 140, 140);
  }
}

// CSS ICON ----------------------------------------------------------------------------------------

@mixin arrow-down-mixin($border-left-right, $border-top, $color) {
  width: 0;
  height: 0;
  border-left: $border-left-right solid transparent;
  border-right: $border-left-right solid transparent;

  border-top: $border-top solid $color;
}

@mixin check-icon-mixin($size, $color) {
  width: $size;
  height: $size;
  background-color: $color;
  clip-path: polygon(14% 44%, 0 65%, 50% 100%, 100% 16%, 80% 0%, 43% 62%);
}

// SIDEBAR SHARED STYLES ----------------------------------------------------------------------------------------

.sidebar-element-generic-style {
  display: flex;
  justify-content: center;
  gap: 1rem;

  width: 100%;

  div {
    display: flex;
    align-items: center;
    justify-content: center;
    gap: 0.65rem;

    figure {
      width: 1.8rem;
      img {
        width: 100%;
      }
    }

    p {
      font-size: $font-size-side-bar-element;
      letter-spacing: 0.05rem;
    }
  }

  &:hover {
    cursor: pointer;
  }
}

.sidebar-active-class {
  background-color: #59a9b5;
}

.team-list {
  display: flex;
  flex-direction: column;
  gap: 1rem;
  align-items: center;
  max-width: 70vw;
}

// MODAL SHARED STYLES ----------------------------------------------------------------------------------------

.modal-content-container {
  border-top-right-radius: $modal-border-radius;
  border-top-left-radius: $modal-border-radius;

  background-color: $color-modal-background;

  flex-grow: 3;
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
}

.modal-title-text {
  color: $font-color-main-text;
  font-size: 1.1rem;
  font-weight: 900;
}

.modal-sub-text {
  font-size: 0.95rem;
  color: $font-color-sub-text;
}
