$dark-color: #32353c;
$blue-color: #59a9b5;
$yellow-color: #f5cd3d;

// TEXT --------------------------------

$side-bar-element-font-size: 1.1rem;

$user-info-name-font-size: 1.1rem;
$user-info-email-font-size: 0.8rem;

$user-component-name-font-size: 1.05rem;
$user-component-button-font-size: 0.8rem;

$team-list-element-font-sizer: 0.95rem;
