$dark-color: #32353c;
$blue-color: #59a9b5;
$yellow-color: #f5cd3d;

// text --------------------------------

$side-bar-element-font-size: 1.1rem;

$teammate-info-name-font-size: 3rem;
$teammate-info-email-font-size: 2rem;
