// Colors
$dark-color: #32353c;
$blue-color: #59a9b5;
$yellow-color: #f5cd3d;

* {
  margin: 0;
  padding: 0;
}

body {
  @import url("https://fonts.googleapis.com/css2?family=Inter:wght@300&display=swap");
  font-family: "Inter", sans-serif;

  font-size: 16px;
}

#app {
  display: flex;
  flex-direction: column;
  height: 100svh;
}

.sidebar_element_generic_style {
  display: flex;
  justify-content: center;
  gap: 1rem;

  width: 100%;

  div {
    display: flex;
    align-items: flex-start;
    gap: 1rem;
  }

  figure {
    width: 1.8rem;
    img {
      width: 100%;
    }
  }

  p {
    font-size: 1.4rem;
    letter-spacing: 0.05rem;
  }

  &:hover {
    cursor: pointer;
  }
}

.sidebar_active-class {
  background-color: #59a9b5;
}
