// Colors
$dark-color: #32353c;
$blue-color: #59a9b5;
$yellow-color: #f5cd3d;

* {
  margin: 0;
  padding: 0;
}

body {
  @import url("https://fonts.googleapis.com/css2?family=Inter:wght@300&display=swap");
  font-family: "Inter", sans-serif;

  font-size: 16px;
}

#app {
  display: flex;
  flex-direction: column;
  height: 100svh;
}

// SIDEBAR SHARED STYLES ----------------------------------------------------------------------------------------

.sidebar-element-generic-style {
  display: flex;
  justify-content: center;
  align-items: center;
  gap: 1rem;

  width: 100%;

  div {
    display: flex;
    align-items: flex-start;
    gap: 1rem;
  }

  figure {
    width: 1.8rem;
    img {
      width: 100%;
    }
  }

  p {
    font-size: 1.4rem;
    letter-spacing: 0.05rem;
  }

  &:hover {
    cursor: pointer;
  }
}

.sidebar-active-class {
  background-color: #59a9b5;
}

// MODAL SHARED STYLES ----------------------------------------------------------------------------------------

.modal-background {
  // screen center even when scroll : fixed not absolute
  position: fixed;
  top: 0;
  left: 0;
  height: 100%;
  width: 100%;

  background-color: rgba(0, 0, 0, 0.515);
}

.modal-container {
  left: 50%;
  top: 40%;
  transform: translate(-50%, -50%);

  border: none;

  height: 15rem;
  width: min(90%, 30rem);
  background-color: rgb(255, 255, 255);

  display: flex;
  flex-direction: column;
}

// BUTTON STYLES ----------------------------------------------------------------------------------------
// basti like button style
$border-with: 2px;
$box-shadow-with: 5px;
$translation-y: calc($box-shadow-with - 1px);

$button-background-color-primary: #f5cd3d;
$shadow-color-primary: #9a822b;

$button-background-color-secondary: #d9d6d4;
$shadow-color-secondary: #9f9e99;

.button-style-common {
  cursor: pointer;

  border-radius: 0.5rem;
  padding-block: 0.5rem 0.6rem;
  height: 3rem;

  transition: transform 0.02s ease, box-shadow 0.02s ease;

  &:active {
    transform: translateY($translation-y);
  }
}

.button-style-primary {
  border: $border-with solid $shadow-color-primary;
  background-color: $button-background-color-primary;
  box-shadow: 0 $box-shadow-with 0 0rem $shadow-color-primary;

  &:active {
    box-shadow: 0 1px 0 0rem $shadow-color-primary;
  }
}

.button-style-secondary {
  border: $border-with solid $shadow-color-secondary;
  background-color: $button-background-color-secondary;
  box-shadow: 0 $box-shadow-with 0 0rem $shadow-color-secondary;

  &:active {
    box-shadow: 0 1px 0 0rem $shadow-color-secondary;
  }
}

.button-text-main {
  font-size: 1.2rem;
  font-weight: 600;
  text-transform: uppercase;
  color: black;
}

.button-text-secondary {
  font-size: 1rem;
  font-weight: 600;
  color: rgb(75, 74, 74);
}
