Port= //the port on which the api is hosted
Swagger_host=  //the host on which the sawgger is hosted
Swagger_schemes= //the swagger's protocol
Host= //the host on which the api is hosted
DB_USER= //the owner of data base
DB_ROLE = //the owner of the tables
DB_PASSWORD= //the password of database
DB_ROLE_PWD= //the password for the role
DB_HOST= //the host of data base
DB_PORT= //the port of data base
DB_DATABASE= //the data base name
TOKEN_SECRET= //a secret token necessary for generating a token on login
TZ= //the date and time formats