// Colors
$dark-color: #32353c;
$blue-color: #59a9b5;
$yellow-color: #f5cd3d;

* {
  margin: 0;
  padding: 0;
}

#app {
  display: flex;
  flex-direction: column;
  height: 100svh;

  font-size: 16px;
}
